@charset "UTF-8";
/* ベース横幅 */
.kankouList-width {
	width: 1000px;
	padding: 20px auto;
	margin: 0px auto;
}
/* 観光一覧用 */
.l-kankou {
	width: 943px;
}
.l-kankou-id {
	width: 50px;
}
.l-kankou-nm {
	width: 200px;
}
.l-tihou-nm {
	width: 80px;
}
.l-todouhuken-nm{
	width: 80px;
}
.l-hyoukati {
	width: 60px;
}
.l-user-id {
	width: 100px;
}
.l-category-id {
	width: 100px;
}
.test-a{
	border: inset rgb(255, 255, 0) 10px ;
}

/* フォームデザイン（検索一覧画面） */
.formdesign {
	background:#fff;
	border-radius:6px;
	border: double 5px #66CC00;
	margin:0px auto;
	box-shadow:15px 15px 0px rgba(0,0,0,.1);
	width: 1000px;
}

/* 動く背景 （bg2・bg3をセットで使用）*/
.bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #f6ff71 50%, #2ec57a 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg3 {
	animation-duration:5s;
}

/* 動く背景 */
@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}

/* テキストボックスのデザイン（小）検索一覧画面用 */
.textbox-s-w185{
	width:185px;
	background:#f5f5f5;
	font-size: 16px;
	border:0;
	padding:15px;
	border-radius:6px;
	margin-bottom:10px;
	border:1px solid #e2e2e2;
}

/* テキストボックスのデザイン（小）検索一覧画面用 */
.textbox-s-w215{
	width:215px;
	background:#f5f5f5;
	font-size: 16px;
	border:0;
	padding:15px;
	border-radius:6px;
	margin-bottom:10px;
	border:1px solid #e2e2e2;
}
/* テキストボックスのデザイン（中） */
.textbox-m-w60{
	width: 60%;
	background:#f5f5f5;
	font-size: 16px;
	border:0;
	padding:18px;
	border-radius:6px;
	margin-bottom:10px;
	border:1px solid #e2e2e2;
}

/* sample画像の位置調整 */
.image-sample{
	background-repeat: no-repeat;
	background-size: 75%;
	background-position-x: 300px;
	background-position-y: 20px;
	max-width: 5%;
}

/* chara_kotira.pngの位置調整 */
.charakotira-img{
	position: absolute;
	bottom: 286px;
	right: 316px;
	width: 110px;
	height: auto;
	animation-name: kotira-img;
	animation-duration: 1s;
	animation-timing-function: inherit;
	animation-direction: normal;
	animation-iteration-count: infinite;
 
}

/* chara_kotira.pngのアニメーション */
@keyframes kotira-img {
 0% {
	transform: rotate(-5deg);
 }
 50% {
	transform: rotate(-15deg);
 }
 100% {
	transform: rotate(-5deg);
 }
}

/* chara_sit.png・chara_sit_arm.pngの位置調整 */
.charasit-img,.charasitArm-img{
	bottom: 306px;
	right: -427px;
	width: 108px;
	height: auto;
  
}

/* chara_sit_arm.pngのアニメーション */
.charasitArm-img{
	animation-name: arm-img;
	animation-duration: 1s;
	animation-timing-function: inherit;
	animation-direction: normal;
	animation-iteration-count: infinite;

}

/* chara_sit_arm.pngの位置調整 */
@keyframes arm-img {
  0% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(15deg);
  }

  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


/* rollingstar.pngの位置調整 */
.rollingstar-img{
	position: absolute;
	top: -636px;
	right: 590px;
	width: 34px;
	height: auto;
 
	animation-name: rollinganime;
	animation-duration: 1s;
	animation-timing-function: inherit;
	animation-direction: normal;
	animation-iteration-count: infinite;
	transform-origin: inherit;
}
/* rollingstar.pngの位置調整 */
.rollingstar2-img{
	position: absolute;
	top: -636px;
	right: 375px;
	width: 34px;
	height: auto;
 
	animation-name: rollinganime;
	animation-duration: 1s;
	animation-timing-function: inherit;
	animation-direction: normal;
	animation-iteration-count: infinite;
	transform-origin: inherit;
}

/* rollingstar.pngのアニメーション */
@keyframes rollinganime {
  0% {
    transform: rotate(0deg);
  }
  65% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }
}

div.header,.layout-table{
	margin-bottom: -1px;
}

div.table-overflow{
	overflow-y: scroll;
    height: 252px;
}

body:has(.msg-err) .rollingstar-img{
	top:-718px;
}
body:has(.msg-err) .rollingstar2-img{
	top:-718px;
}
